<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h4>Contact Us</h4>
            <p> For any Queries drop a mail to
                 <a href="mailto:office@iipe.ac.in">office&#64;iipe.ac.in</a><br>
                 Designed and developed by the CSE Lab Team
            </p>
           
        </div>
        <div class="footer-column">
            <h4>Admission Office</h4>
            <p>Tel: <a href="tel:+919908423552">+91 9908423552</a><br>
                Email: <a href="mailto:ugadmissions@iipe.ac.in">ugadmissions&#64;iipe.ac.in</a>
            </p>
        </div>
        <div class="footer-column lab-check">
            <h4>💻 Computer Lab</h4>
            <p>
              <a routerLink="/calendar" class="lab-link">Check Lab Availability</a>
            </p>
          </div>
    </div>
</footer>