.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make sure it fills the viewport */
}

.content-area {
  display: flex;
  flex: 1; /* Take all remaining height after header */
  overflow: hidden;
}

app-header {
  width: 100%;
  background-color: darkblue;
  color: white;
  padding: 0.8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 8px solid #7b8bf3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

app-sidebar {
  width: 200px;
  height: 100%; /* Ensure it fills height of content-area */
}

.main-content {
  flex-grow: 1;
  width: 100%;
  background-color: rgb(251, 251, 252);
  overflow-y: auto;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dashboard-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex: 1;
  display: flex;
}
